{{template "base/head" .}}
<div class="repository explosion view">
    {{template "repo/header" .}}
    <div class="ui container">
        <div class="ui center segment">
            <h1>EXPLOSION</h1>
        </div>
    </div>
</div>
{{template "base/footer" .}}