{{template "base/head" .}}
<div class="repository implosion view">
    {{template "repo/header" .}}
    <div class="ui container">
        <div class="ui center segment">
            <h1>IMPLOSÃO</h1>
        </div>
    </div>
</div>
{{template "base/footer" .}}